@font-face {
  font-family: "Maison";
  src: url("/font/Maison.eot");
  src: url("/font/Maison.eot?#iefix") format("embedded-opentype"),
    url("/font/Maison.woff2") format("woff2"),
    url("/font/Maison.woff") format("woff"),
    url("/font/Maison.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Maison";
  src: url("/font/Maison-Bold.eot");
  src: url("/font/Maison-Bold.eot?#iefix") format("embedded-opentype"),
    url("/font/Maison-Bold.woff2") format("woff2"),
    url("/font/Maison-Bold.woff") format("woff"),
    url("/font/Maison-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Maison Mono";
  src: url("/font/MaisonMono.eot");
  src: url("/font/MaisonMono.eot?#iefix") format("embedded-opentype"),
    url("/font/MaisonMono.woff2") format("woff2"),
    url("/font/MaisonMono.woff") format("woff"),
    url("/font/MaisonMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Maison Mono";
  src: url("/font/MaisonMono-Italic.eot");
  src: url("/font/MaisonMono-Italic.eot?#iefix") format("embedded-opentype"),
    url("/font/MaisonMono-Italic.woff2") format("woff2"),
    url("/font/MaisonMono-Italic.woff") format("woff"),
    url("/font/MaisonMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Maison";
  src: url("/font/Maison-Italic.eot");
  src: url("/font/Maison-Italic.eot?#iefix") format("embedded-opentype"),
    url("/font/Maison-Italic.woff2") format("woff2"),
    url("/font/Maison-Italic.woff") format("woff"),
    url("/font/Maison-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Maison";
  src: url("/font/Maison-Light.eot");
  src: url("/font/Maison-Light.eot?#iefix") format("embedded-opentype"),
    url("/font/Maison-Light.woff2") format("woff2"),
    url("/font/Maison-Light.woff") format("woff"),
    url("/font/Maison-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Maison Mono";
  src: url("/font/MaisonMono-Bold.eot");
  src: url("/font/MaisonMono-Bold.eot?#iefix") format("embedded-opentype"),
    url("/font/MaisonMono-Bold.woff2") format("woff2"),
    url("/font/MaisonMono-Bold.woff") format("woff"),
    url("/font/MaisonMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Maison Mono";
  src: url("/font/MaisonMono-Light.eot");
  src: url("/font/MaisonMono-Light.eot?#iefix") format("embedded-opentype"),
    url("/font/MaisonMono-Light.woff2") format("woff2"),
    url("/font/MaisonMono-Light.woff") format("woff"),
    url("/font/MaisonMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
