@import "../components/variables";

#filterShop {
  border-top: solid thin $color-black;
  width: 100%;
  display: flex;
  @include respond-to("md") {
    width: 100%;
    margin: 40px 0px;
  }
  @include respond-to("sm") {
    flex-direction: column;
  }
  & > div {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 20px;
    border-bottom: solid thin $color-black;
    @include respond-to("md") {
      padding: 10px 20px;
    }
    @include respond-to("sm") {
      width: 100%;
    }
    span {
      margin-bottom: 11px;
      @include font-xs-mono;
      opacity: 0.3;
      font-weight: bold;
      @include respond-to("md") {
        margin-bottom: 5px;
      }
    }
    &>button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: transparent;
      @include font-sm;
      &:global(.active) {
        transform: rotate(-180deg);
        transition: all 0.4s;
      }
    }
    ul {
      list-style: none;
      position: absolute;
      left: 0;
      width: 100%;
      height: auto;
      max-height: calc(100vh - 250px);
      top: 101%;
      opacity: 0;
      transition: opacity .3s;
      padding: 5px 0;
      border: $color-black solid 1px;
      border-top: none;
      letter-spacing: .1em;
      font-size: 14px;
      background: rgba(255,255,255,.9);

      li {
        padding: 7px 20px;
        text-transform: uppercase;
        button {
          width: 100%;
          background: none;
          @include font-sm;
          color: $color-grey;
          transition: color .2s;
          text-align: left;
          &:hover {
            color: $color-black;
          }
        }
      }

      &:global(.active) {
        @include shadow-hover;
      }
    }
  }
  & > div:not(:last-child) {
      border-right: solid thin $color-black;
      @include respond-to("sm") {
        border-right: 0px;
      }
  }
  // .year {
  //   border-right: solid thin $color-black;
  //   border-bottom: solid thin $color-black;
  //   @include respond-to("sm") {
  //     border-right: 0px;
  //   }
  // }
  // .month {
  //   display: none;
  // }
  // .sort {
  //   border-bottom: solid thin $color-black;
  // }
}
