@import "../components/variables";

#discount {
  background-color: $color-skin;
  width: 100%;
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  z-index: 2;
  @include font-xs-mono;
  font-weight: bold;
  &:global(.mintop) {
    top: -40px !important;
  }
  &:global(.discborder) {
    background: transparent;
    border-bottom: solid thin $color-black;
  }
  &:global(.white) {
    color: $color-white;
    border-bottom: solid thin $color-white;
  }
}
#info {
  background-color: $color-green;
  width: 100%;
  position: fixed;
  top: 40px;
  padding: 0 50px;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  @include font-xxs-mono;
  transition: all 0.3s;
  @include respond-to("sm") {
    display: none;
  }
  & > div {
    display: flex;
    height: 40px;
    & > div {
      display: flex;
      align-items: center;
      margin: 0px 15px;
    }
    .wa {
      a {
        color: $color-black;
        display: flex;
        align-items: center;
        &:hover {
          @include shadow-hover;
        }
        & > div {
          background-image: url("/image/icons/wa.svg");
          width: 20px;
          height: 20px;
          background-size: cover;

          &:global(.white) {
            background-image: url("/image/icons/wa-white.svg");
          }
        }
        span {
          margin-left: 12px;
          &:global(.white) {
            color: $color-white;
          }
        }
      }
    }
    .account {
      a {
        color: $color-black;
        &:global(.white) {
          color: $color-white;
        }
        &:hover {
          @include shadow-hover;
        }
      }
    }
    .cart {
      a {
        color: $color-black;
        &:global(.white) {
          color: $color-white;
        }
        &:hover {
          @include shadow-hover;
        }
      }
    }
    .language {
      a {
        color: $color-black;
        &:global(.white) {
          color: $color-white;
        }
        &:hover {
          @include shadow-hover;
        }
      }
      a:first-child {
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid $color-black;
        &:global(.white) {
          border-right: 1px solid $color-white;
        }
      }
    }
  }
  &:global(.top) {
    top: 0 !important;
  }
  &:global(.infoborder) {
    background: transparent;
    border-bottom: solid thin $color-black;
  }
  &:global(.white) {
    border-bottom: solid thin $color-white;
  }
}

#nav {
  background-color: $color-grey;
  position: fixed;
  top: 80px;
  transition: all 0.3s;
  width: 100%;
  padding: 0 50px;
  z-index: 2;
  &:global(.active) {
    transition: all 0.3s;
    z-index: 3;
    border-bottom: none !important;
    top: 0;
    .logo {
      display: none;
    }
    .mobile_search {
      display: none;
    }
  }
  @include respond-to("lg") {
    padding-bottom: 40px;
  }
  @include respond-to("sm") {
    padding-bottom: 0;
    top: 40px;
    padding: 0 20px;
  }
  & > div:first-child {
    height: 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include respond-to("lg") {
      flex-direction: row;
    }
    @include respond-to("lg") {
      flex-wrap: wrap;
    }
    .link {
      z-index: 2;
      @include respond-to("sm") {
        display: none;
      }
      @include respond-to("xl") {
        margin-left: 210px;
      }
      @include respond-to("lg") {
        margin-left: 0px;
      }
      & > ul {
        list-style: none;
        display: flex;
        grid-gap: 40px;
        & > li {
          & > a {
            @include font-xs-mono;
            &:global(.white) {
              color: $color-white;
            }
          }
          & > a:hover {
            @include shadow-hover;
          }
        }
        .story {
          cursor: pointer;
          position: relative;
          & > a {
            svg {
              height: 7px;
              transition: all 0.4s;
              path {
                fill: $color-black;
                &:global(.white) {
                  fill: $color-white;
                }
              }
            }
          }
          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 200px;
            background-color: $color-white;
            border: solid thin $color-black;
            left: -30px;
            margin-top: 10px;
            padding: 10px 20px;
            display: none;
            transition: all 0.4s;
            li {
              padding: 10px 0px;
              border-bottom: solid thin $color-black;
              a {
                @include font-xs-mono;
              }
            }
            li:first-child {
              padding-top: 0px;
            }
            li:last-child {
              border: none;
              padding-bottom: 0px;
            }
            &:global(.white) {
              border: none;
            }
          }
          &:hover {
            & > a {
              svg {
                height: 7px;
                transform: rotate(-180deg);
              }
            }
            ul {
              display: block;
            }
          }
        }
      }
    }
    .logo {
      position: absolute;
      top: 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      @include respond-to("sm") {
        display: none;
      }
      a:hover {
        @include shadow-hover;
      }
      @include respond-to("xl") {
        justify-content: flex-start;
      }
      @include respond-to("lg") {
        position: relative;
        width: 50%;
      }
      svg {
        width: 180px;
        path {
          fill: $color-black;
          &:global(.white) {
            fill: $color-white;
          }
        }
      }
    }
    .search {
      z-index: 2;
      @include respond-to("sm") {
        display: none;
      }
      form {
        input {
          background: none;
          border: none;
          border-bottom: solid thin $color-black;
          width: 150px;
          &:global(.white) {
            border-bottom: solid thin $color-white;
          }
          &:focus {
            outline: none;
          }
        }
        button {
          cursor: pointer;
          background: none;
          border: none;
          outline: none;
          background-image: url("/image/icons/search_icon.svg");
          background-size: cover;
          width: 20px;
          height: 20px;
          margin-left: 10px;
          &:global(.white) {
            background-image: url("/image/icons/search_icon-white.svg");
          }
        }
      }
    }
    #mobile_nav {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      @include respond-to("sm") {
        opacity: 1;
      }
      & > div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > div:first-child {
          position: absolute;
          width: 100%;
          display: flex;
          justify-content: center;
        }
        .mobile_button {
          position: relative;
          button {
            cursor: pointer;
            border: none;
            outline: none;
            background-color: transparent;
            width: 25px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &:hover {
              @include shadow-hover;
            }
            & > span {
              height: 2px;
              width: 100%;
              background-color: $color-black;
              &:global(.white) {
                background-color: $color-white;
              }
            }
          }
        }
        .mobile_search {
          button {
            cursor: pointer;
            background-image: url("/image/icons/search_icon.svg");
            background-size: cover;
            width: 25px;
            height: 25px;
            border: none;
            outline: none;
            background-color: transparent;
            &:hover {
              @include shadow-hover;
            }
            &:global(.white) {
              background-image: url("/image/icons/search_icon-white.svg");
            }
          }
        }
      }
    }
  }
  &:global(.linktop) {
    top: 40px;
    @include respond-to("sm") {
      top: 0;
    }
  }
  &:global(.navborder) {
    background: transparent;
    border-bottom: solid thin $color-black;
  }
  &:global(.white) {
    border-bottom: solid thin $color-white;
  }
}

#mobile_link {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 30px 50px;
  background-color: $color-green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  z-index: -1;
  &:global(.active) {
    z-index: 2;
    opacity: 1;
    transition: opacity 0.5s;
  }
  ul {
    list-style: none;
  }
  & > div:first-child {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 4;
    a {
      color: $color-black;
      @include font-sm-mono;
      font-weight: 600;
      &:global(.white) {
        color: $color-white;
      }
      &:hover {
        @include shadow-hover;
      }
    }
    a:first-child {
      padding-right: 10px;
      margin-right: 10px;
      border-right: 2px solid $color-black;
      &:global(.white) {
        border-right: 2px solid $color-white;
      }
    }
  }
  & > div:nth-child(2) {
    width: 100%;
    height: 100%;
    ul {
      & > li:first-child {
        margin-top: 55px;
      }
      & > li:last-child {
        border-bottom: solid thin $color-white;
        padding-bottom: 40px;
      }
      li {
        padding: 15px 0px;
        a {
          @include font-sm-mono;
          font-weight: bold;
          &:hover {
            @include shadow-hover;
          }
        }
      }
    }
  }
  & > div:last-child {
    width: 100%;
    height: 100%;
    ul {
      & > li:first-child {
        margin-top: 40px;
      }
      & > li:last-child {
        a {
          img {
            width: 20px;
            margin-right: 10px;
          }
        }
      }
      li {
        padding: 15px 0px;
        a {
          @include font-sm-mono;
          font-weight: bold;
          &:hover {
            @include shadow-hover;
          }
        }
      }
    }
  }
}
